[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "*"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
flask = "*"
flake8 = "*"
django-smtp-ssl = "*"
django-mailgun = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
